@import url('https://fonts.cdnfonts.com/css/billabong');

html, body {
  margin: 0;
  height: 100%;
}

.auth-sidebar header {
  font-family: 'Billabong', sans-serif;
  font-size: 34px;
  padding: 30px 34px 30px;
}

.auth-sidebar {
  position: relative;
  color: #000;
}

.auth-sidebar {
  max-width: 416px;
  margin: 0 auto;
  padding: 48px 20px 0;
  text-align: left;
  color: inherit;
  font: bold 32px/38px "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.content {
  width: 100%;
}

auth-sidebar-content, .auth-content {
  width: 100%;
  max-width: 514px;
  margin: auto;
}

main {
  margin: 0 auto;
  padding: 0 20px;
}

h2 {
  margin-bottom: 26px;
  font: bold 24px/29px "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

form > .btn {
  display: block;
  width: 100%;
  margin-top: 22px;
}

#sign-up {
  text-align: center;
  margin-top: 16px;
  font-size: 14px;
}

@media (min-width: 960px) {

  .auth-sidebar header {
    font-size: 44px;
    padding: 0px 34px 140px;
  }

  .main-container {
    display: flex;
    height: 100%;
    flex-direction: row;
    overflow: hidden;
  }

  .auth-sidebar {
    display: flex;
    align-items: center;
    padding-right: 30px;
    color: white;
    flex-grow: 0;
    width: 450px;

    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../static/image/christmastree.jpeg');
    background-position: center;
    background-size: cover;
  }

  .content {
    display: -ms-flexbox;
    display: flex;
    -ms-flex: 1;
    flex: 1;
    -ms-flex-direction: column;
    flex-direction: column;
    overflow: auto;
  }

  auth-sidebar-content, .auth-content {
    margin: 0;
    padding: 30px 45px 0;
  }

  main {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 0;
    padding: 0;
  }
}

@media (min-width: 1100px) {
  .auth-sidebar {
    width: 514px;
  }
}
